APP_HOST=avtospets.spaces.community
NEXT_PUBLIC_SITE_URL=https://avtospets.spaces.community
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
WORDPRESS_GRAPHQL_ENDPOINT=
WORDPRESS_REVALIDATE_SECRET=
CONTACT_WEBHOOK_URL=
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERTRESOLVER=letsencrypt
